:root{
    --theme-color: #dc3545;
    --theme-bg: #dc3545;
}
/*@font-face{
    font-family: calibri;
    src: url(../fonts/calibri.ttf);
}
@font-face{
    font-family: arialbd;
    src: url(../fonts/arialbd.ttf);
}
@font-face{
    font-family: ariblk;
    src: url(../fonts/ariblk.ttf);
}
@font-face{
    font-family: overlock_regular;
    src: url(../fonts/overlock_regular.otf);
}*/
@-webkit-keyframes autofill{
    0%, 100%{
        color: inherit;
        background: rgba(255, 255, 255, 0);
    }
}
input:-webkit-autofill{
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    /* font-family: overlock_regular; */
    text-decoration: none;
}
body{
    /*height: 100vh;*/
    /*width: 100%;*/
}
.pri-color{
    background-color:#00d8ff;
}
.text-def{
    color:#00d8ff;
}
.active-menu{
    color: white;
    background: #dc3545;
}
.border-0{
    border: none;
}
.outline-0{
    outline: none;
}
.single-line{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
    width: 0px;
	/*To use this class style, the element containing the text will have this class style and flex-1. Its parent must have flex-h*/
}
/*@font-face{
    font-family: 'adobe_clean_bold';
    src: url(../../../fonts/adobe_clean_bold.otf);
}*/
.underline{
    text-decoration: underline;
}
.cursor-pointer{
    cursor: pointer;
}
.italic{
    font-style: italic;
}
.hover{
    transition: .3s;
}
.hover:hover{
    box-shadow: 0px 5px 15px lightgray;
}
.break-word{
    word-break: break-word;
}
.transit{
    transition: .3s !important;
}
.text-r{
    text-align: right;
}
.text-l{
    text-align: left;
}
.text-c{
    text-align: center;
}
.td-none{
    text-decoration: none;
}
.po-rel{
    position: relative;
}
.po-abs{
    position: absolute;
}
.po-fixed{
    position: fixed;
}
.bold{
    font-weight: 900;
}
.overflow-0{
    overflow: hidden;
}
.w-max-75{
    max-width: 75%;
}
.user-select-0{
    user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.vh100{
    height: 100vh;
}
.vh91{
    height:92.2vh;
}
.vh50{
    height:50vh;
}
.vw100{
    width: 100vw;
}
.vw80{
    width: 80vw;
}
.vw20{
    width: 20vw;
}
.bg-clear{
    background: transparent;
}
.bg-grey{
    background: rgba(0, 0, 0, 0.5);
}
.overflow-y-auto{
    overflow-y: auto;
}
.pointer-events-0{
    pointer-events: none;
}
.disabled{
    pointer-events: none;
    opacity: .5;
}
.outline-0{
    outline: 0 !important;
}
.min-width-70px{
    min-width: 70px;
}
.overflow-x-auto{
    overflow-x: auto;
}
.overflow-y-0{
    overflow-y: hidden;
}
.overflow-x-0{
    overflow-x: hidden;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc{
    justify-content: center;
}
.a-i-c{
    align-items: center;
}
.af{
    justify-content: flex-end !important;
}
.flex-h{
    display: flex;
}
.flex-v{
    display: flex;
    flex-direction: column;
}
.flex-v-new{
     display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-v-new2{
     display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
    flex-wrap: wrap;
}
.flex-h-new{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.flex-h-new3{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}
.flex-h-new4{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.flex-h-new2{
     display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
}
.flex-1{
    flex: 1;
}
.flex-half{
    flex:1.5;
}
.flex-2{
    flex: 2;
}
.flex-3{
    flex: 3;
}
.flex-4{
    flex: 4;
}
.flex-5{
    flex: 5;
}
.flex-6{
    flex: 6;
}
.flex-7{
    flex: 7;
}
.flex-8{
    flex: 8;
}
.flex-8{
    flex: 8;
}
.flex-10{
    flex: 10;
}
.flex-0{
    flex: 0;
}
.resize-0{
    resize: none;
}

.lh-20{
    line-height:20px;
}
.loader{
    width: 100%;
    height: 5px;
    background-color: gainsboro;
    overflow: hidden;
    transition: .3s;
    display: none;
    transition-delay: .5s;
}
.loader > div{
    content: "";
    display: block;
    width: 3%;
    height: 100%;
    background-color: #007bff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    transition: .3s;
    transition-delay: .3s;
}
.theme-color{
    color: var(--theme-color);
}
.theme-color-dark{
    color: var(--theme-color);
}
.theme-bg{
    background: var(--theme-bg);
}
.theme-bg-half{
    background: var(--theme-bg);
}
.blur-3{
    filter: blur(3px);
}
.blur-0{
    filter: none;
}
.fo-s-15{
    font-size: 15px;
}
.fo-s-16{
    font-size: 16px;
}
.fo-s-18{
    font-size: 18px;
}
.border-05{
    border-width: 0.2px;
    border-color:#000;
    border-style:solid;
}
.border-1{
    border-width: 1px;
    border-color:#000;
    border-style:solid;
}
.border-2{
    border-width: 2px;
    border-color:#000;
    border-style:solid;
}
.border-3{
    border-width: 3px;
}
.theme-border{
    border-width: 1px;
    border-style: solid;
    border-color: var(--theme-color);
}
.fo-s-20{
    font-size: 20px;
}
.fo-s-22{
    font-size: 22px;
}
.pointer-0{
    pointer-events: none;
}
.btop-theme{
    border-top: thin solid rgb(231, 120, 23);
}
.bt-theme{
    border-top: thin solid var(--theme-color);
}
.bb-theme{
    border-bottom: thin solid var(--theme-color);
}
.error-border{
    border: 1px solid rgb(255, 46, 36);
}
.bb{
    border-bottom: thin solid gainsboro;
}
.letter-spacing-1{
    letter-spacing: 1px;
}
.double-line{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.theme-icon{
    display: block;
    width: 35px;
    height: 35px;
}
.w-none{
    width: 0;
}
.h-none{
    height: 0;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.top-100{
    top: 100%;
}
.left-100{
    left: 100%;
}
.d-block{
    display: block;
}
.w-100{
    width: 100%;
}
.w-30{
    width:30%;
}
.w-90{
    width:90%;
}
.w-22{
    width:22%;
}
.w-20{
    width:20%;
}
.my-7{
    margin-top:5.7rem;
}
.flicker{
    transition: .3s;
}
.flicker:active{
    opacity: .7;
}
.fadeOut{
    animation: fadeOut .3s ease-in-out;
}
.fadeInUp{
    animation: fadeInUp .3s ease-in-out;
}
.bounceIn{
    animation: bounceIn .3s ease-in-out;
}
.bounce{
    animation: bounce .3s ease-in-out;
}
.po-sticky{
    position: sticky;
}
.visibility-0{
    visibility: hidden;
}
.slideInToTop{
    animation: slideInToTop .2s ease-in-out;
}
.slideInDown{
    animation: slideInDown .45s ease;
}
.slideInLeft{
    animation: slideInLeft .62s ease;
}
.slideInRight{
    animation: slideInRight .20s ease;
}
.j-c-space-between{
    justify-content: space-between;
}
.j-c-space-evenly{
    justify-content: space-evenly;
}
.j-c-space-around{
    justify-content: space-around;
}
.j-c-c{
    justify-content: center;
}
.max-w-80{
    max-width: 80%;
}
.rounded-5px{
    border-radius: 5px;
}
.rounded-10px{
    border-radius: 10px;
}
.translate-X--100{
    transform: translateX(-100%);
}
.translate-X-0{
    transform: translateX(0%);
}
.translate-X-100{
    transform: translateX(100%);
}
@keyframes slideInToTop{
    0%{
        opacity: .5;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}


.bg-new-light{
    background:#dcd;
}
.bg-black{
    background:#242424;
}
@media screen and (max-width: 768px){
    .sm-none{
        display: none;
    }
    .sm-flex{
        display: flex;
    }
}

@media only screen and (max-width: 992px){
    .md-mt{
        margin-top:5rem;
    }
}