.header{
	width: 100%;
	height:40px;
	line-height:80%;
	padding:0 1%;
}
.nav_wrapper{
	display: flex;
	justify-content: space-between;
	padding:1%;
	align-items: center;
}
.logo header{
	font-size:2rem;
	margin-bottom: 0;
	color:#fff;
}

.logo span{
	color:#01d293;
	font-size:1.9rem;
}
.nav_menu{
	display: flex;
	column-gap: 2.8rem;
	align-items: center;
}

.nav_menu a{
	color:#fff;
	font-weight: 500;
	font-size:.85rem;
	text-decoration: none;
	transition: 0.3s;
	cursor: pointer;
}

.nav_menu a:hover{
	color:#01d293;
}
.nav_right a{
	color:#01d293;
	text-decoration: none;
}
.nav_right a:hover{
	text-decoration: none!important;
}
.nav_right p{
	color:#01d293;
	position: relative;
	margin-left:10px;
	cursor: pointer;
}
.nav_right p::before{
	content: '';
	position: absolute;
	top:25%;
	left: -20px;
	width:1px;
	height: 14px;
	background:#808dad;
	color:#808dad;
}

.header_shrink{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px!important;
	/*background:#fff;*/
	line-height:25px!important;
	/*box-shadow:5px 5px 5px -5px #ddd;*/
	z-index:10000000;
	animation:slideInToTop;
}
.mobile_menu{
	display: none;
}
.mobile_menu i{
	font-size:2rem;
	color:#fff;
	cursor: pointer;
}

.close_icon{
	/*color:#090;*/
	position: fixed;
	left:25%;
	display: none;
	top:5%;
	z-index:100000;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 800px){
	.navigation{
		position:fixed;
		top:0;
		left: 0;
		width: 100%;
		height:100%;
		background:rgba(0,0,0,0.65);
		z-index:100000;
		display: none;
	}
	.nav_menu{
		position: absolute;
		top: 0;
		left: 0;
		width:250px;
		padding:5% 0;
		height:50vh;
		flex-direction: column;
		justify-content: space-evenly;
		column-gap:1rem;
		animation-name: slideInLeft;
		animation-duration:.5s;
	}
/* 	.nav_right{
		display: none;
	} */
	.mobile_menu{
		display: block;
	}
	.menu_active{
		display: block;
	}
	.logo header, .logo span{
		font-size:1.6rem;
	}
}
