.section_subtitle{
	color:#01d293;
	font-weight: 400;
	position: relative;
	margin-left: 40px;
}

.section_subtitle::before{
	content: '';
	position: absolute;
	top:50%;
	left: -40px;
	width: 30px;
	height: 1px;
	background:#01d293;
	color:#01d293;
}